:root{
  --primary-color: #006992;
  --secondary-color: #ECA400;
  --secondary-color-contrast: #f6cd6f;
  --tertiary-color: #27476E;
  --white-hue: #E4E4E4;
  --black-hue: #000000;
  }

  .heroContainer{
    background-color: var(--primary-color);
    height: 20rem;
    width: 90%;
    position: relative;
  }

  .skewBanner{
    background-color: var(--secondary-color);
    width: 150%;
    position: absolute;
    inset: 0;
    height: 75%;
    transform: skewY(-30deg);
  }

  .heroTextBox{
    background-color: var(--black-hue);
    position: absolute;
    inset: 10%;
    width: 80%;
    height: 80%;
  }

  .featured{
    background-color: var(--primary-color);
    width: 90%;
    justify-content: center;
  }

  .featuredProduct{
    border-radius: 5px;
    height: 15rem;
    width: 48%;
    background-color: var(--secondary-color);
  }

  .brands{
    background-color: var(--black-hue);
    width: 90%;
    justify-content: center;
  }

  .brand{
    border-radius: 5px;
    height: 8rem;
    width: 30%;
    background-color: var(--white-hue);
  }

  .form{
    color: var(--secondary-color-contrast);
    width: 90%;
    font-size: 1.2rem;
  }

  .submitButton{
    background-color: black;
    font-weight: bold;
    color: white;
    margin-inline: auto !important;
    transition: 0.4s;
  }

  .submitButton:hover{
    scale: 1.2;
    color: var(--secondary-color);
    filter: drop-shadow(-4px 5px 5px #000);
  }

  .submitButton:active{
    background-color: #2a2a2a;
    color: white;
  }