:root{
    --primary-color: #006992;
    --secondary-color: #ECA400;
    --secondary-color-contrast: #f6cd6f;
    --tertiary-color: #27476E;
    --white-hue: #E4E4E4;
    --black-hue: #000000;
    }


.productContainer{
    width: clamp(95vw, 95vw, 95vw);
    background-color: var(--primary-color);
}

.productBox{
    width: 30%;
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 0;
    padding: 10px;
    overflow: hidden;
    position: relative;
    transition: 0.4s;
}

@media screen and (max-width: 600px) {
    .productBox{
        width: 45%;
    }
  }

.productCard{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-between;

}

.cardHead{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 50px;
    margin-bottom: 10px;
}

.logoImg{
    width: 80px;
}

.cardImg{
    width: 90%;
    transition: 0.4s;
}

.cardPrice{
    font-weight: bold;
}

.addBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardColorBox{
    width: 20px;
    height: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;

}

.cardColorInner{
    width: 80%;
    height: 80%;
    background-color: #006992;
    border-radius: 999px;
}

.cartAdd{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
}

.addButton{
    padding: 10px 10px;
    border-radius: 999px;
    border: 0;
    background-color: transparent;
    color: rgb(0, 0, 0);
    transform: translateY(150%);
    transition: 0.4s;
    cursor: pointer;
}

.productBox:hover{
    box-shadow: 0px 0px 40px 3px rgba(42, 42, 42, 0.75) inset;
    scale: 1.02;
}

.productCard:hover .addButton{
    transform: translateY(0%);
    filter: drop-shadow(-6px 10px 10px #000000);
}

.productBox:hover .cardImg{
    scale: 1.1;
    transform: rotateZ(-5deg) translateY(-10px);
    filter: drop-shadow(-6px 10px 10px #000000);
}

.addButton:hover{
    color: white;
    scale: 1.2;
    transform: rotateZ(-5deg);
}

.cardDetails{
    text-align: center;
}

.cardSizes{
    margin-top: 10px;
    font-size: 0.75rem;
}

.cardName{
    font-weight: 900;
    font-size: 1.25rem;
}

.cardDesc{
    font-weight: 500;
}